<center><h3>{{viewTitle}}</h3></center>
<form action='/router' method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{route._id}}">
    <div class="form-group">
        <strong>Username</strong>
        <input type="text" class="form-control" name="username" placeholder="username" value="{{route.username}}">
    </div>
    <div class="form-group">
        <strong>Dirección Ip</strong>
        <input type="text" class="form-control" name="ip" placeholder="ip" value="{{route.ip}}">
    </div>
    <div class="form-group">
        <button type="login" class="btn btn-info">Add</button>
        <a class="btn btn-secondary" href="/router/list">View</a>
    </div>
</form>
