<h3><a class="btn btn-secondary" href="/router"> New Connection</a> Connections</h3>
<table>
    <thead>
        <tr>
            <th>username &emsp; </th>
            <th>ip</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.username}}</td>
            <td>{{this.ip}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/router/{{this.id}}">Edit</a>
                <a class="btn btn-primary btn-sm" href="/router/delete/{{this.id}}"
                onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
